.topnav {
  display: flex;
  justify-content: space-around;
}
.container {
  display: flex;
  justify-content: space-around;
}
.button {
  background-color: purple;
  color: white;
}
.one {
  display: flex;
  justify-content: space-around;
}
.icons {
  display: flex;
  justify-content: space-around;
}
.icon {
  display: flex;
  justify-content: space-around;
}
.best {
  display: flex;
  justify-content: space-around;
}
.patient {
  display: flex;
  justify-content: space-around;
}
.interest {
  display: flex;
  justify-content: space-around;
}
.qualified {
  display: flex;
  justify-content: space-around;
}
.bottom {
  display: flex;
  justify-content: space-around;
}
button {
  background-color: blueviolet;
  color: white;
}
.span {
  gap: 200px;
}
.image1 {
  width: 500px;
  height: 200px;
}
.subscribe {
  padding-right: 50px;
}
#headshot {
  width: 100px;
  height: 100px;
}
#headshot2 {
  width: 100px;
  height: 100px;
}
#star {
  color: orangered;
}
.qualified {
  margin-left: 20px;
}

@media screen and(min-width:375px) and(max-width:667px) {
 
 
 
  

  
  body {
    overflow-x: hidden;
  }
 
  
  .interest {
   display: block;
  }

  .patient {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  #image1 {
    height: 30%;
    padding-left: 40px;
  }
  .an {
    display: block;
    font-size: small;
  }
  .bottom{
    flex-flow: wrap;
  }
  .best{
    display: block;
  }
  .container{
    display: grid;
  }
  .icons{
    display: flex;
    font-size: small;
  }
  .icon{
    display: block;
    font-size: small;
  } }

